body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: crimson;
}

.jumbotron {
  background-image: linear-gradient(to right, white 10px, rgb(0, 0, 0) 90%), url("../img/pizzalrg.jpg");
  /* background-position: -150px -150px; */
  background-blend-mode: overlay;
  background-position: center;
}

#output,
#orderBtn {
  display: none;
}

#pizzaBg {
  position: fixed;
  z-index: -1;
  filter: blur(3px) brightness(40%) grayscale(90%)
}

li {
  margin: 50%;
}

#pizzaDetails {
  margin: 15%;
  display: none;
}

#pizzaOutput {
  margin: 15%;
}

li {
  cursor: pointer;
}

.addClass {
  color: chartreuse;
  background-color: rgb(89, 89, 247);
}

#inputFields {
  display: block;
}

.footer {
  text-align: center;
  font-size: large;
  color: rgb(255, 255, 255);
  height: 40px;
  width: 100%;
  background-color: rgb(82, 12, 12);
  position: fixed;
  bottom: 0;
  left: 0;
}